<div class="main">
  <div class="top">
    <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">

  </div>
   <p class="methan">Methan D 10mg/tab,
    100tab</p>

   <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
   <p class="price">704 &#8381;</p>
   <button class="btn1">В корзину</button>
   <button class="btn2">Подробнее</button>
</div>

<div style="width: 900px;height: 400px;">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="display: flex;">
        <img  style="width: 100px;height: 150px;" src="assets/images/4.svg" class="d-block w-100" alt="...">
        <img style="width: 100px;height: 150px;" src="assets/images/4.svg" class="d-block w-100" alt="...">

      </div>
      <div class="carousel-item"style="display: flex;">
        <img  style="width: 100px;height: 150px;" src="assets/images/4.svg" class="d-block w-100" alt="...">
        <img style="width: 100px;height: 150px;" src="assets/images/4.svg" class="d-block w-100" alt="...">
      <div class="carousel-item"style="display: flex;">
        <img style="width: 100px;height: 150px;" src="assets/images/4.svg" class="d-block w-100" alt="...">
        <img style="width: 100px;height: 150px;" src="assets/images/4.svg" class="d-block w-100" alt="...">      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"style="background-color: black;"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>