<div class="main">
<h1>КАК ОФОРМИТЬ ЗАКАЗ</h1>
<div>
    <div>
        <div><img src="assets/images/korzinkaIco.svg" alt="">
            <p>Добавляем нужный товар 
            в корзину. 
            Все что есть на сайте, 
            то в наличии.</p><img src="" alt=""></div>


        <div><img src="assets/images/vanIcon.svg" alt=""><p>Добавляем нужный товар 
в корзину. 
Все что есть на сайте, 
то в наличии.</p><img src="" alt=""></div>

        <div><img src="assets/images/filesIco.svg" alt=""><p>Вводим ФИО, ваш e-mail (на него придут реквизиты для оплаты), вводим адрес доставки, жмем “Подтвердить заказ”.</p><img src="" alt=""></div>
        <div><img src="assets/images/mail.icon.svg" alt=""><p>Далее ждем обработки заказа и письмо с реквизитами для оплаты на ваш e-mail.</p><img src="" alt=""></div>
    </div>
    <div class={{ss}}>
        <p>По всем вопросам пишите на почту rumassa13&commat;gmail.com или телеграм &commat;Rumassa или в чате на сайте</p>
        <img class="closer" (click)="close()" src="assets/images/closeBtn.svg" alt="">

    </div>
</div>
</div>