<div class="full">
<div class="contents">
<h1 class="pris">ПРИСОЕДИНЯЙТЕСЬ <br> К НАШЕМУ СООБЩЕСТВУ<br> В ТЕЛЕГРАММ!</h1>
<p class="bole">Более 3000 довольных клиентов оставляют свои видео-отзывы о нашей <br> продукции и делятся достижениями в спорте!</p>
<a href="https://t.me/MrUmmataliyev">
<div class="tel">
    <img src="assets/images/telegram.svg" alt="">
<p>Telegram</p>
</div>

</a>

<div class="twoCont">
    <div class="double">
        <p class="num">01</p>
        <p class="dC">Бот автопродаж</p>
        <p class="sC">бесплатная консультация и составление курса</p>
    </div>
    <div class="double">
        <p class="num">02</p>
        <p class="dC">Медсопровождение</p>
        <p class="sC">Cопровождение лечащим врачем</p>
    </div>


</div>
</div>

<img height="900px" style="margin-top: 40px; margin-left: -120px;" src="assets/images/kachka.svg" alt="">

</div>