<div class="register-wrapper">
    <div class="content-logo">
        <img src="../../../assets/images/Logo.svg" alt="">
        <h3>Интернет-магазин <br> RU-massa</h3>
    </div>
    <div class="enter-title">Регистрация</div>
    <div class="form__check-title">
        <p>Уже есть аккаунт?</p>
        <a href="">Войдите</a>
    </div>
    <form>
        <div class="register-form">
            <label class="input-label" for="email">
                Ваша почта
                <input id="email" placeholder="Введите e-mail" type="email">
            </label>
            <label class="input-label" for="email">
                Пароль
                <input id="email" placeholder="Введите ваш пароль" type="password">
            </label>
        </div>

        <div class="register-form">
            <label class="input-label" for="email">
                Повторите пароль
                <input id="email" placeholder="Повторите пароль" type="email">
            </label>
            <label class="input-label" for="email">
                Имя
                <input id="email" placeholder="Имя" type="password">
            </label>
        </div>

        <div class="register-form">
            <label class="input-label" for="email">
                Фамилия 
                <input id="email" placeholder="Фамилия" type="email">
            </label>
            <label class="input-label" for="email">
                Пароль
                <input id="email" placeholder="Ваш телефон" type="password">
            </label>
        </div>
        
        <div class="register-btn">
            <button type="submit" class="form-btn">Зарегистрироваться</button>
        </div>
    </form>

    <div class="form-social">
        <p class="social-title">Вход в один клик:</p>
        <div class="social-icons">
            <a href="">
                <img src="../../../assets/images/facebook.svg" alt="">
            </a>
            <a href="">
                <img src="../../../assets/images/google.svg" alt="">
            </a>
        </div>
    </div>
</div>
