.mainOplata{
    height: 500px;
    background-color: aquamarine;
}
.main_top{
    display: flex;
    padding-top: 50px;
}
.po{
    color: #1C1C1C;
    font-size:70px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;

}
.poc{
color: #474747;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
margin-left: 80px;
border-left: 2.5px solid #E6E6E6;
height: 55px;
padding-left: 10px;

}
.noti{
    display: flex;
}
.closer{
    margin-left: 350px;
}