<header>
    <nav class="navbar">
      <div class="nav-logo">
        <a href="#"><img src="assets/images/Logo.svg" alt="Logo"></a>
      </div>
      <div class="nav-text">
        Интернет-магазин RU-MASSA
      </div>
      <img src="assets/images/Line.svg" alt="" style="height: 72px; margin-left: 20px;">
      <div class="nav-search">
        <input type="text" placeholder="Поиск" class="search-input">
        <img src="assets/images/Loupe.svg" alt="" style="width: 18px; margin-right: 14px;">
      </div>
    </nav>
    
    <div class="banner">
      <div class="banner-content">
        <div class="panel">
          <span class="material-symbols-outlined">menu</span>
          <a href="#">All</a>
        </div>

        <ul class="links">
          <li><a href="#">Today's Deals</a></li>
          <li><a href="#">Customer Service</a></li>
          <li><a href="#">Registry</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Sell</a></li>
        </ul>
        <div class="deals">
          <a href="#">Shop deals in Electronics</a>
        </div>
      </div>
    </div>
  </header>