<header>
    <nav class="navbar">
      <div class="nav-logo">
        <a href="#"><img src="assets/images/Logo.svg" alt="Logo"></a>
      </div>
      <div class="nav-text">
        Интернет-магазин RU-MASSA
      </div>
      <img src="assets/images/Line.svg" alt="" class="line1">
      <div class="efrgth" style="border-right: 1px solid black;padding: 30px;height: 100%;">
        <div class="nav-search" style="border: 1px solid black;">
          <input type="text" placeholder="Поиск" class="search-input">
          <img src="assets/images/Loupe.svg" alt="" class="loupe">
        </div>
      </div>

      <a href="" style="margin-right: 30px;">
        <img src="assets/images/EmailIcon2.svg" alt="" style="border: 1px solid rgba(128, 128, 128, 0.401);padding: 10px;">
      </a>
      <img src="assets/images/TelegramIcon.svg" alt="" style="margin-left: -110px; margin-right: 20px;">
    </nav>
    <hr style="background-color: #DFDFDF; height: 1px; border: none; opacity: 0.5;">
    <div class="banner">
      <div class="banner-content">
        <ul class="links">
          <img src="assets/images/BackCatalog.svg" alt="" style="height: 50px;">
          <img src="assets/images/Catalog.svg" alt="" style="margin-left: -146px;">
          <li><div class="catalog-t">Каталог</div></li>
          <li><a href="#">Оральные препараты</a></li>
          <li><a href="#">Инъекционные препараты</a></li>
          <li><a href="#">Препараты ПКТ</a></li>
          <li><a href="#">Гормон роста</a></li>
          <li><a href="#">Сармы/Sarms</a></li>
        </ul>
      </div>
    </div>
  </header>