<div class="card-wrapper">
    <div class="card">
        <img src="./../../../../assets/images/Mask group (1).png" alt="mask group">
    
        <div class="info">
            <h3>Смена домена</h3>
    
            <div class="flex-wrap">
                <small>Nimadir</small>
    
                <small>
                    Nimadir
                </small>
            </div>
    
            <p>Новый адрес ru-massa.info</p>
    
            <div class="flex-wrap-2">
                <small>Nimadir 2</small>
    
                <small>
                    Nimadir 2
                </small>
            </div>
    
            <button>Читать</button>
        </div>
    </div>

    <div class="card">
        <img src="./../../../../assets/images/Mask group (1).png" alt="mask group">
    
        <div class="info">
            <h3>Смена домена</h3>
    
            <div class="flex-wrap">
                <small>Nimadir</small>
    
                <small>
                    Nimadir
                </small>
            </div>
    
            <p>Новый адрес ru-massa.info</p>
    
            <div class="flex-wrap-2">
                <small>Nimadir 2</small>
    
                <small>
                    Nimadir 2
                </small>
            </div>
    
            <button>Читать</button>
        </div>
    </div>

    <div class="card">
        <img src="./../../../../assets/images/Mask group (1).png" alt="mask group">
    
        <div class="info">
            <h3>Смена домена</h3>
    
            <div class="flex-wrap">
                <small>Nimadir</small>
    
                <small>
                    Nimadir
                </small>
            </div>
    
            <p>Новый адрес ru-massa.info</p>
    
            <div class="flex-wrap-2">
                <small>Nimadir 2</small>
    
                <small>
                    Nimadir 2
                </small>
            </div>
    
            <button>Читать</button>
        </div>
    </div>
</div>