<div class="one" style="display: flex;justify-content: center;margin: 0 auto;margin-top: 40px;">
    <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
        <p style="background-color: black;color: white;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">1</p>
        <p>Корзина</p>
    </div>
    <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
        <p style="background-color: white;color: black;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">2</p>
        <p>Адрес доставки</p>
    </div>
    <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
        <p style="background-color: #F9F9F9;color: black;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">3</p>
        <p>Заказ готов</p>
    </div>
</div>
<h1 class="addres" style="text-align: center; margin-top: 30px;">АДРЕС ДОСТАВКИ</h1>
<div class="est">
    <p>Есть купон? <a href="">Нажмите, чтобы ввести</a></p>
</div>
<div class="two">
<div class="firstD">
<h2>Оплата и доставка</h2>
<form>
<label for="ФИО">ФИО*</label><br>
<input type="text" id="ФИО" placeholder="ФИО" required>
<label for="email">E-mail</label><br>
<input type="email" id="email" placeholder="Email" required>
<div class="fulladd">
    <label for="strana">Страна/регион*</label><br>
    <input type="text" id="strana" placeholder="Выберите страну/регион..." required>
    <label for="">Область*</label>
    <input type="text" name="" id="">
</div>
</form>
</div>
<div class="secomdD">

</div>
</div>